<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Siz Hayal Edin Biz Tasarlayalım. Özel yazılım çözümlerimiz ile sizin yanınızdayız - Squtio Yazılım - @ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="profile" href="http://gmpg.org/xfn/11">
   

    <!-- This site is optimized with the Yoast SEO plugin v9.1 - https://yoast.com/wordpress/plugins/seo/ -->
    <link rel="canonical" href="http://pennews.pencidesign.com/pennews-interactive-agency-multipurpose/" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Anasayfa - Squtio Yazılım" />
    <meta property="og:url" content="http://pennews.pencidesign.com/pennews-interactive-agency-multipurpose/" />
    <meta property="og:site_name" content="Squtio Yazılım" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="Anasayfa - Squtio Yazılım" />
    <meta name="twitter:creator" content="Fatma Aktaş" />

    <meta property="fb:app_id" content="348280475330978">
    <meta name="generator" content="Blogger" />
    <meta name="description" content="Author: F.A. Author, Length:12 pages" />
    <meta name="robots" content="noindex,nofollow" />

    <script type='application/ld+json'>{"@@context":"https:\/\/schema.org","@@type":"WebSite","@@id":"#website","url":"http:\/\/pennews.pencidesign.com\/pennews-interactive-agency-multipurpose\/","name":"PenNews Interactive Agency Multipurpose","potentialAction":{"@@type":"SearchAction","target":"http:\/\/pennews.pencidesign.com\/pennews-interactive-agency-multipurpose\/?s={search_term_string}","query-input":"required name=search_term_string"}}</script>
    <!-- / Yoast SEO plugin. -->
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Karla&ver=4.9.16">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Poppins&ver=4.9.16">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Playfair+Display" />
    <link rel="stylesheet" href="/Content/css/js_composer.min.css-ver=5.4.5.css" tppabs="http://max.pennews.pencidesign.com/pennews-interactive-agency-multipurpose/wp-content/plugins/js_composer/assets/css/js_composer.min.css?ver=5.4.5">
    <link rel="EditURI" type="application/rsd+xml" title="RSD" href="http://pennews.pencidesign.com/pennews-interactive-agency-multipurpose/xmlrpc.php?rsd" />
    <link rel="wlwmanifest" type="application/wlwmanifest+xml" href="http://max.pennews.pencidesign.com/pennews-interactive-agency-multipurpose/wp-includes/wlwmanifest.xml" />
    <link rel='shortlink' href='http://pennews.pencidesign.com/pennews-interactive-agency-multipurpose/' />
    <link rel="alternate" type="application/json+oembed" href="http://pennews.pencidesign.com/pennews-interactive-agency-multipurpose/wp-json/oembed/1.0/embed?url=http%3A%2F%2Fpennews.pencidesign.com%2Fpennews-interactive-agency-multipurpose%2F" />
    <link rel="alternate" type="text/xml+oembed" href="http://pennews.pencidesign.com/pennews-interactive-agency-multipurpose/wp-json/oembed/1.0/embed?url=http%3A%2F%2Fpennews.pencidesign.com%2Fpennews-interactive-agency-multipurpose%2F&#038;format=xml" />
    <link rel="stylesheet" href="~/Content/css/styles.css-ver=5.1.1.css" tppabs="http://max.pennews.pencidesign.com/pennews-interactive-agency-multipurpose/wp-content/plugins/contact-form-7/includes/css/styles.css?ver=5.1.1">
    <link rel="stylesheet" href="~/Content/css/single-shortcode.css-ver=4.9.16.css" tppabs="http://max.pennews.pencidesign.com/pennews-interactive-agency-multipurpose/wp-content/plugins/penci-framework/assets/css/single-shortcode.css?ver=4.9.16">
    <link rel="stylesheet" href="~/Content/css/demobar.css-ver=1.0.css" tppabs="http://max.pennews.pencidesign.com/pennews-interactive-agency-multipurpose/wp-content/plugins/penci-pennew-demo-select/css/demobar.css?ver=1.0">
    <link rel="stylesheet" href="~/Content/css/css-family=Oswald-400&ver=4.9.16.css" tppabs="http://fonts.googleapis.com/css?family=Oswald%3A400&ver=4.9.16">
    <link rel="stylesheet" href="~/Content/css/settings.css-ver=5.3.1.5.css" tppabs="http://max.pennews.pencidesign.com/pennews-interactive-agency-multipurpose/wp-content/plugins/revslider/public/assets/css/settings.css?ver=5.3.1.5">
    @*<link rel='dns-prefetch' href='//fonts.googleapis.com' />*@
    <link rel='dns-prefetch' href='//s.w.org' />
    <link rel="alternate" type="application/rss+xml" title="Squtio Yazılım &raquo; Feed" href="http://pennews.pencidesign.com/pennews-interactive-agency-multipurpose/feed/" />
    <link rel="alternate" type="application/rss+xml" title="Squtio Yazılım &raquo; Comments Feed" href="http://pennews.pencidesign.com/pennews-interactive-agency-multipurpose/comments/feed/" />
    <script type="text/javascript">
        window._wpemojiSettings = { "baseUrl": "https:\/\/s.w.org\/images\/core\/emoji\/11\/72x72\/", "ext": ".png", "svgUrl": "https:\/\/s.w.org\/images\/core\/emoji\/11\/svg\/", "svgExt": ".svg", "source": { "concatemoji": "http:\/\/pennews.pencidesign.com\/pennews-interactive-agency-multipurpose\/wp-includes\/js\/wp-emoji-release.min.js?ver=4.9.16" } };
        !function (a, b, c) { function d(a, b) { var c = String.fromCharCode; l.clearRect(0, 0, k.width, k.height), l.fillText(c.apply(this, a), 0, 0); var d = k.toDataURL(); l.clearRect(0, 0, k.width, k.height), l.fillText(c.apply(this, b), 0, 0); var e = k.toDataURL(); return d === e } function e(a) { var b; if (!l || !l.fillText) return !1; switch (l.textBaseline = "top", l.font = "600 32px Arial", a) { case "flag": return !(b = d([55356, 56826, 55356, 56819], [55356, 56826, 8203, 55356, 56819])) && (b = d([55356, 57332, 56128, 56423, 56128, 56418, 56128, 56421, 56128, 56430, 56128, 56423, 56128, 56447], [55356, 57332, 8203, 56128, 56423, 8203, 56128, 56418, 8203, 56128, 56421, 8203, 56128, 56430, 8203, 56128, 56423, 8203, 56128, 56447]), !b); case "emoji": return b = d([55358, 56760, 9792, 65039], [55358, 56760, 8203, 9792, 65039]), !b }return !1 } function f(a) { var c = b.createElement("script"); c.src = a, c.defer = c.type = "text/javascript", b.getElementsByTagName("head")[0].appendChild(c) } var g, h, i, j, k = b.createElement("canvas"), l = k.getContext && k.getContext("2d"); for (j = Array("flag", "emoji"), c.supports = { everything: !0, everythingExceptFlag: !0 }, i = 0; i < j.length; i++)c.supports[j[i]] = e(j[i]), c.supports.everything = c.supports.everything && c.supports[j[i]], "flag" !== j[i] && (c.supports.everythingExceptFlag = c.supports.everythingExceptFlag && c.supports[j[i]]); c.supports.everythingExceptFlag = c.supports.everythingExceptFlag && !c.supports.flag, c.DOMReady = !1, c.readyCallback = function () { c.DOMReady = !0 }, c.supports.everything || (h = function () { c.readyCallback() }, b.addEventListener ? (b.addEventListener("DOMContentLoaded", h, !1), a.addEventListener("load", h, !1)) : (a.attachEvent("onload", h), b.attachEvent("onreadystatechange", function () { "complete" === b.readyState && c.readyCallback() })), g = c.source || {}, g.concatemoji ? f(g.concatemoji) : g.wpemoji && g.twemoji && (f(g.twemoji), f(g.wpemoji))) }(window, document, window._wpemojiSettings);
    </script>



    <link rel="stylesheet" href="~/Content/css/font-awesome.min.css-ver=4.5.2.css" tppabs="http://max.pennews.pencidesign.com/pennews-interactive-agency-multipurpose/wp-content/themes/pennews/css/font-awesome.min.css?ver=4.5.2">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto%3A300%2C300italic%2C400%2C400italic%2C500%2C500italic%2C700%2C700italic%2C800%2C800italic%7CMukta+Vaani%3A300%2C300italic%2C400%2C400italic%2C500%2C500italic%2C700%2C700italic%2C800%2C800italic%7COswald%3A300%2C300italic%2C400%2C400italic%2C500%2C500italic%2C700%2C700italic%2C800%2C800italic%7CTeko%3A300%2C300italic%2C400%2C400italic%2C500%2C500italic%2C700%2C700italic%2C800%2C800italic%7CMontserrat%3A300%2C300italic%2C400%2C400italic%2C500%2C500italic%2C700%2C700italic%2C800%2C800italic%7CPoppins%3A300%2C300italic%2C400%2C400italic%2C500%2C500italic%2C700%2C700italic%2C800%2C800italic%7CKarla%3A300%2C300italic%2C400%2C400italic%2C500%2C500italic%2C700%2C700italic%2C800%2C800italic%3A300%2C300italic%2C400%2C400italic%2C500%2C500italic%2C700%2C700italic%2C800%2C800italic%26subset%3Dcyrillic%2Ccyrillic-ext%2Cgreek%2Cgreek-ext%2Clatin-ext">
    <link rel="stylesheet" href="~/Content/css/portfolio.css-ver=6.5.1.css" tppabs="http://max.pennews.pencidesign.com/pennews-interactive-agency-multipurpose/wp-content/themes/pennews/css/portfolio.css?ver=6.5.1">
    <link rel="stylesheet" href="~/Content/css/review.css-ver=6.5.1.css" tppabs="http://max.pennews.pencidesign.com/pennews-interactive-agency-multipurpose/wp-content/themes/pennews/css/review.css?ver=6.5.1">
    <link rel="stylesheet" href="~/Content/css/style.css-ver=6.5.1.css" tppabs="http://max.pennews.pencidesign.com/pennews-interactive-agency-multipurpose/wp-content/themes/pennews/style.css?ver=6.5.1">

    <script src="/Content/js/jquery.js" tppabs="http://max.pennews.pencidesign.com/pennews-interactive-agency-multipurpose/wp-includes/js/jquery/jquery.js?ver=1.12.4"></script>
    <script src="/Content/js/jquery-migrate.min.js" tppabs="http://max.pennews.pencidesign.com/pennews-interactive-agency-multipurpose/wp-includes/js/jquery/jquery-migrate.min.js?ver=1.4.1"></script>
    <script src="/Content/js/jquery.themepunch.tools.min.js" tppabs="http://max.pennews.pencidesign.com/pennews-interactive-agency-multipurpose/wp-content/plugins/revslider/public/assets/js/jquery.themepunch.tools.min.js?ver=5.3.1.5"></script>
    <script src="/Content/js/jquery.themepunch.revolution.min.js" tppabs="http://max.pennews.pencidesign.com/pennews-interactive-agency-multipurpose/wp-content/plugins/revslider/public/assets/js/jquery.themepunch.revolution.min.js?ver=5.3.1.5"></script>
    <script>
        /* <![CDATA[ */
        var SnazzyDataForSnazzyMaps = [];
        SnazzyDataForSnazzyMaps = { "id": 151, "name": "Ultra Light with Labels", "description": "Light Rust", "url": "https:\/\/snazzymaps.com\/style\/151\/ultra-light-with-labels", "imageUrl": "https:\/\/snazzy-maps-cdn.azureedge.net\/assets\/151-ultra-light-with-labels.png?v=20170626083737", "json": "[{\"featureType\":\"water\",\"elementType\":\"geometry\",\"stylers\":[{\"color\":\"#e9e9e9\"},{\"lightness\":17}]},{\"featureType\":\"landscape\",\"elementType\":\"geometry\",\"stylers\":[{\"color\":\"#f5f5f5\"},{\"lightness\":20}]},{\"featureType\":\"road.highway\",\"elementType\":\"geometry.fill\",\"stylers\":[{\"color\":\"#ffffff\"},{\"lightness\":17}]},{\"featureType\":\"road.highway\",\"elementType\":\"geometry.stroke\",\"stylers\":[{\"color\":\"#ffffff\"},{\"lightness\":29},{\"weight\":0.2}]},{\"featureType\":\"road.arterial\",\"elementType\":\"geometry\",\"stylers\":[{\"color\":\"#ffffff\"},{\"lightness\":18}]},{\"featureType\":\"road.local\",\"elementType\":\"geometry\",\"stylers\":[{\"color\":\"#ffffff\"},{\"lightness\":16}]},{\"featureType\":\"poi\",\"elementType\":\"geometry\",\"stylers\":[{\"color\":\"#f5f5f5\"},{\"lightness\":21}]},{\"featureType\":\"poi.park\",\"elementType\":\"geometry\",\"stylers\":[{\"color\":\"#dedede\"},{\"lightness\":21}]},{\"elementType\":\"labels.text.stroke\",\"stylers\":[{\"visibility\":\"on\"},{\"color\":\"#ffffff\"},{\"lightness\":16}]},{\"elementType\":\"labels.text.fill\",\"stylers\":[{\"saturation\":36},{\"color\":\"#333333\"},{\"lightness\":40}]},{\"elementType\":\"labels.icon\",\"stylers\":[{\"visibility\":\"off\"}]},{\"featureType\":\"transit\",\"elementType\":\"geometry\",\"stylers\":[{\"color\":\"#f2f2f2\"},{\"lightness\":19}]},{\"featureType\":\"administrative\",\"elementType\":\"geometry.fill\",\"stylers\":[{\"color\":\"#fefefe\"},{\"lightness\":20}]},{\"featureType\":\"administrative\",\"elementType\":\"geometry.stroke\",\"stylers\":[{\"color\":\"#fefefe\"},{\"lightness\":17},{\"weight\":1.2}]}]", "views": 844593, "favorites": 2221, "createdBy": { "name": "Anonymous", "url": null }, "createdOn": "2014-11-04T03:01:33.197", "tags": ["greyscale", "light"], "colors": ["gray", "white"] };
        /* ]]> */
    </script>
    <script src="/Content/js/snazzymaps.js" tppabs="http://max.pennews.pencidesign.com/pennews-interactive-agency-multipurpose/wp-content/plugins/snazzy-maps/snazzymaps.js?ver=1.1.3"></script>

    <script>
        var portfolioDataJs = portfolioDataJs || [];
        var penciBlocksArray = [];
        var PENCILOCALCACHE = {};
        (function () {
            "use strict";

            PENCILOCALCACHE = {
                data: {},
                remove: function (ajaxFilterItem) {
                    delete PENCILOCALCACHE.data[ajaxFilterItem];
                },
                exist: function (ajaxFilterItem) {
                    return PENCILOCALCACHE.data.hasOwnProperty(ajaxFilterItem) && PENCILOCALCACHE.data[ajaxFilterItem] !== null;
                },
                get: function (ajaxFilterItem) {
                    return PENCILOCALCACHE.data[ajaxFilterItem];
                },
                set: function (ajaxFilterItem, cachedData) {
                    PENCILOCALCACHE.remove(ajaxFilterItem);
                    PENCILOCALCACHE.data[ajaxFilterItem] = cachedData;
                }
            };
        }
        )(); function penciBlock() {
            this.atts_json = '';
            this.content = '';
        }
    </script>

    <script type="application/ld+json">
        {
            "@@context": "http:\/\/schema.org\/",
            "@@type": "organization",
            "@@id": "#organization",
            "logo": "",
            "url": "http:\/\/pennews.pencidesign.com\/pennews-interactive-agency-multipurpose\/",
            "name": "Squtio Yazılım",
            "description": "Yazılım Sitesi\/Squtio Yazılım site"
        }</script>
    <script type="application/ld+json">
        {
            "@@context": "http:\/\/schema.org\/",
            "@@type": "WebSite",
            "name": "Squtio Yazılım",
            "alternateName": "Multi-Concept Newspaper\/Magazine Wordpress Themes site",
            "url": "http:\/\/pennews.pencidesign.com\/pennews-interactive-agency-multipurpose\/",
            "potentialAction": {
                "@@type": "SearchAction",
                "target": "http:\/\/pennews.pencidesign.com\/pennews-interactive-agency-multipurpose\/search\/{search_term}",
                "query-input": "required name=search_term"
            }
        }</script>
    <script type="application/ld+json">
        {
            "@@context": "http:\/\/schema.org\/",
            "@@type": "SideBar",
            "name": "Sidebar Right",
            "alternateName": "Add widgets here to display them on blog and single",
            "url": "http:\/\/pennews.pencidesign.com\/pennews-interactive-agency-multipurpose"
        }
    </script>
</head>
<body>
    <div class="penci-header-mobile">
        <div class="penci-header-mobile_container">
            <button class="menu-toggle navbar-toggle sidebar-left" aria-expanded="false"><span class="screen-reader-text">Primary Menu</span><i class="fa fa-bars"></i></button>
            <div class="site-branding">
                <div class="site-title">
                    <a href="@Url.Action("Anasayfa")" rel="home">Squtio</a>
                </div>
            </div>
        </div>
    </div>


    <div class="container body-content">
        @RenderBody()
        <hr />

        <div class="vc_row wpb_row vc_row_44945393 vc_row-fluid penci-pb-row vc_custom_1549010593148 vc_row-has-fill">
            <div class="wpb_column vc_column_container vc_col-sm-12 penci-col-12">
                <div class="vc_column-inner wpb_column vc_column_container vc_col-sm-12 penci-col-12 vc_custom_1549009825732">
                    <div class="wpb_wrapper">

                        <div id="penci_fancy_heading__96323882" class="penci-block-vc penci-fancy-heading penci-heading-text-center vc_custom_1549009876304">
                            <div class="penci-fancy-heading-inner">
                                <span class="penci-heading-title footer-img" style="background: rgba(255,255,255,0.5);">
                                    Sosyal Medya Hesabımızı Takip Etmeyi Unutmayın...
                                </span>
                                <div class="penci-heading-content entry-content"></div>
                                <div id="penci_social_media__17252034" class="penci-social-media-shortcode align-center penci-social-media-sc-circle ">
                                    <div class="penci-social-media-inner">
                                        @*<a class="social-media-item socail_media__facebook" target="_blank" href="#" title="Facebook" rel="noopener"><span class="socail-media-item__content"><i class="fa fa-facebook"></i><span class="social_title screen-reader-text">Facebook</span></span></a>*@
                                        @*<a class="social-media-item socail_media__twitter" target="_blank" href="#" title="Twitter" rel="noopener"><span class="socail-media-item__content"><i class="fa fa-twitter"></i><span class="social_title screen-reader-text">Twitter</span></span></a>*@
                                        <a class="social-media-item socail_media__instagram" target="_blank" href="https://www.instagram.com/squtio.yazilim/" title="Instagram" rel="nofollow"><span class="socail-media-item__content"><i class="fa fa-instagram"></i><span class="social_title screen-reader-text">Instagram</span></span></a>
                                        @*<a class="social-media-item socail_media__youtube" target="_blank" href="#" title="Youtube" rel="noopener"><span class="socail-media-item__content"><i class="fa fa-youtube-play"></i><span class="social_title screen-reader-text">Youtube</span></span></a>*@
                                        <a class="social-media-item socail_media__email_me" target="_blank" href="@Url.Action("Contact")" title="Email"><span class="socail-media-item__content"><i class="fa fa-envelope"></i><span class="social_title screen-reader-text">Email</span></span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr />

    <footer id="colophon" class="site-footer" itemscope itemtype="http://schema.org/WPFooter">

        <meta itemprop="name" content="Squtio Yazılım" />
        <meta itemprop="description" content="Squtio Yazılım 2022 yılında kurulmuş, interaktif tasarımlar üreten bir teknoloji firmasıdır. İstanbul & Bursa'daki genç ve dinamik ekibimiz ile interaktif yazılım geliştirme, web alanlarında sizlere çözümler sunuyoruz. Aynı zamanda sosyal medya danışmanlığı konusunda da sizlere destek oluyoruz." />
        <meta itemprop="keywords" content="Data Protection, Copyright Data, Sosyal Medya, Squtio, Yazılım, Software, Developer, Yazılımcı" />
        <meta itemprop="copyrightYear" content="2022" />
        <meta itemprop="copyrightHolder" content="Squtio Yazılım" />
        <div class="footer__copyright_menu">
            <div class="footer__sidebars-inner penci-container-fluid penci_bottom-sub penci_has_copyright">
                <div class="site-info">
                    @@2022 - SqutioYazılım. Bu sitenin tüm hakları Squtio Yazılım tarafından saklıdır.
                </div><!-- .site-info -->
            </div>
        </div>

        <a href="#top" id="yukari-cik" title="Yukarı Çık"><i class="fa fa-toggle-up"></i></a>

        <script>
            jQuery(document).ready(function ($) {
                $(window).scroll(function () {
                    if ($(this).scrollTop() < 850) {
                        $('#yukari-cik').fadeOut();
                    } else {
                        $('#yukari-cik').fadeIn();
                    }
                });
                $('#yukari-cik').on('click', function () {
                    $('html, body').animate({ scrollTop: 0 }, 'fast');
                    return false;
                });
            });
        </script>
    </footer><!-- #colophon -->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <aside class="mobile-sidebar ">
        <div id="sidebar-nav-logo">
            <a href="@Url.Action("Anasayfa")" class="custom-logo-link" rel="home">
                <img src="~/Content/img/logo.jpg" class="img-fluid float-left" alt="Responsive image">
            </a>
            <a href="@Url.Action("Anasayfa")" rel="home">Squtio Yazılım</a>
        </div>

        <div class="header-social sidebar-nav-social">
            <div class="inner-header-social">
                @*<a class="social-media-item socail_media__facebook" target="_blank" href="#" title="Facebook" rel="noopener"><span class="socail-media-item__content"><i class="fa fa-facebook"></i><span class="social_title screen-reader-text">Facebook</span></span></a>
                    <a class="social-media-item socail_media__twitter" target="_blank" href="#" title="Twitter" rel="noopener"><span class="socail-media-item__content"><i class="fa fa-twitter"></i><span class="social_title screen-reader-text">Twitter</span></span></a>*@
                <a class="social-media-item socail_media__instagram" target="_blank" href="https://www.instagram.com/squtio.yazilim/" title="Instagram" rel="nofollow"><span class="socail-media-item__content"><i class="fa fa-instagram"></i><span class="social_title screen-reader-text">Instagram</span></span></a>
                @*<a class="social-media-item socail_media__behance" target="_blank" href="#" title="Behance" rel="noopener"><span class="socail-media-item__content"><i class="fa fa-behance"></i><span class="social_title screen-reader-text">Behance</span></span></a>
                    <a class="social-media-item socail_media__youtube" target="_blank" href="#" title="Youtube" rel="noopener"><span class="socail-media-item__content"><i class="fa fa-youtube-play"></i><span class="social_title screen-reader-text">Youtube</span></span></a>*@
                <a class="social-media-item socail_media__email_me" target="_blank" href="@Url.Action("Iletisim")" title="Email"><span class="socail-media-item__content"><i class="fa fa-envelope"></i><span class="social_title screen-reader-text">Email</span></span></a>
            </div>
        </div>
        <nav class="mobile-navigation" itemscope itemtype="http://schema.org/SiteNavigationElement">
            <ul id="primary-menu-mobile" class="primary-menu-mobile">
                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home"><a href="@Url.Action("Anasayfa")">Anasayfa</a></li>
                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home"><a href="@Url.Action("Blog")">Blog</a></li>
                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-8"><a href="@Url.Action("Hakkimizda")">Hakkımızda</a></li>
                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-8"><a href="@Url.Action("Iletisim")">İLETİŞİM</a></li>

            </ul>
        </nav>
    </aside>
    <script>
        /* <![CDATA[ */
        var wpcf7 = { "apiSettings": { "root": "http:\/\/pennews.pencidesign.com\/pennews-interactive-agency-multipurpose\/wp-json\/contact-form-7\/v1", "namespace": "contact-form-7\/v1" }, "cached": "1" };
        /* ]]> */
    </script>
    <script src="~/Content/js/scripts.js" tppabs="http://max.pennews.pencidesign.com/pennews-interactive-agency-multipurpose/wp-content/plugins/contact-form-7/includes/js/scripts.js?ver=5.1.1"></script>
    <script src="~/Content/js/demobar.js" tppabs="http://max.pennews.pencidesign.com/pennews-interactive-agency-multipurpose/wp-content/plugins/penci-pennew-demo-select/js/demobar.js?ver=1.0"></script>
    <script src="~/Content/js/jquery.easypiechart.min.js" tppabs="http://max.pennews.pencidesign.com/pennews-interactive-agency-multipurpose/wp-content/plugins/penci-review/js/jquery.easypiechart.min.js?ver=1.0"></script>
    <script src="~/Content/js/jquery.rateyo.min.js" tppabs="http://max.pennews.pencidesign.com/pennews-interactive-agency-multipurpose/wp-content/plugins/penci-review/js/jquery.rateyo.min.js?ver=3.0"></script>
    <script>
        /* <![CDATA[ */
        var PENCI = { "postID": "4", "ajaxUrl": "http:\/\/pennews.pencidesign.com\/pennews-interactive-agency-multipurpose\/wp-admin\/admin-ajax.php", "nonce": "ad0759e98c", "normalFill": "#b9b9b9", "ratedFill": "#FFCA00" };
        /* ]]> */
    </script>
    <script src="~/Content/js/rating_review.js" tppabs="http://max.pennews.pencidesign.com/pennews-interactive-agency-multipurpose/wp-content/plugins/penci-review/js/rating_review.js?ver=3.0"></script>
    <script>
        /* <![CDATA[ */
        var PENCILOCALIZE = { "ajaxUrl": "http:\/\/pennews.pencidesign.com\/pennews-interactive-agency-multipurpose\/wp-admin\/admin-ajax.php", "nonce": "ad0759e98c", "errorMsg": "Something wrong happened. Please try again.", "login": "Email Address", "password": "Password", "errorPass": "<p class=\"message message-error\">Password does not match the confirm password<\/p>", "prevNumber": "1", "minlengthSearch": "0", "linkTitle": "View More", "linkTextAll": "Menu", "linkText": "More" };
                            /* ]]> */
    </script>
    <script src="~/Content/js/script.min.js"></script>
    <script src="~/Content/js/wp-embed.min.js"></script>
    <script src="~/Content/js/js_composer_front.min.js"></script>
    <script src="~/Content/js/skrollr.min.js"></script>

</body>
</html>
