@model SqutioYzlm.Models._site
@{
    ViewBag.Title = "Anasayfa";
}


<!DOCTYPE html>
<html lang="en-US" prefix="og: http://ogp.me/ns#">

<body class="home page-template page-template-page-templates page-template-full-width page-template-page-templatesfull-width-php page page-id-4 custom-background header-sticky penci-header-transparent penci_enable_ajaxsearch penci_sticky_content_sidebar penci_dis_padding_bw wpb-js-composer js-comp-ver-5.4.5 vc_responsive">

    <div id="page" class="site">
        <div class="site-header-wrapper penci-trans-nav">
            <header id="masthead" class="site-header header--s1" data-height="80" itemscope="itemscope" itemtype="http://schema.org/WPHeader">
                <div class="penci-container-1170 header-content__container">

                    <div class="site-branding">
                        <a href="@Url.Action("Anasayfa")" class="custom-logo-link" rel="home">
                            <h1 class="site-title"><img href="@Url.Action("Anasayfa")" alt="logo" rel="home" src="~/Content/img/logo.jpg" style="width:60px; height:60px;" class="logo">Squtio Yazılım</h1>
                        </a>
                    </div><!-- .site-branding -->
                    <nav id="site-navigation" class="main-navigation penci_disable_padding_menu penci_enable_line_menu pencimn-slide_down" itemscope itemtype="http://schema.org/SiteNavigationElement">
                        <ul id="menu-main-menu" class="menu menucolor">
                            <li id="menu-item-11" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-4 current_page_item menu-item-11"><a href="@Url.Action("Anasayfa")" itemprop="url">Anasafya</a></li>
                            <li id="menu-item-8" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-8"><a href="@Url.Action("Blog")" itemprop="url">BLOG</a></li>
                            <li id="menu-item-983" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-983"><a href="@Url.Action("Hakkimizda")" itemprop="url">HAKKIMIZDA</a></li>
                            <li id="menu-item-8" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-8"><a href="@Url.Action("Iletisim")" itemprop="url">İLETİŞİM</a></li>
                        </ul>
                    </nav><!-- #site-navigation -->
                    <div class="header__social-search">
                        <div class="header__social-media">
                            <div class="header__content-social-media">

                                @*<a class="social-media-item socail_media__facebook" target="_blank" href="#" title="Facebook" rel="noopener"><span class="socail-media-item__content"><i class="fa fa-facebook"></i><span class="social_title screen-reader-text">Facebook</span></span></a>
                                    <a class="social-media-item socail_media__twitter" target="_blank" href="#" title="Twitter" rel="noopener"><span class="socail-media-item__content"><i class="fa fa-twitter"></i><span class="social_title screen-reader-text">Twitter</span></span></a>*@
                                <a class="social-media-item socail_media__instagram" target="_blank" href="https://www.instagram.com/squtio.yazilim/" title="Instagram" rel="nofollow"><span class="socail-media-item__content"><i class="fa fa-instagram"></i><span class="social_title screen-reader-text">Instagram</span></span></a>
                                @*<a class="social-media-item socail_media__behance" target="_blank" href="#" title="Behance" rel="noopener"><span class="socail-media-item__content"><i class="fa fa-behance"></i><span class="social_title screen-reader-text">Behance</span></span></a>
                                    <a class="social-media-item socail_media__youtube" target="_blank" href="#" title="Youtube" rel="noopener"><span class="socail-media-item__content"><i class="fa fa-youtube-play"></i><span class="social_title screen-reader-text">Youtube</span></span></a>*@
                                <a class="social-media-item socail_media__email_me" target="_blank" href="@Url.Action("Contact")" title="Email"><span class="socail-media-item__content"><i class="fa fa-envelope"></i><span class="social_title screen-reader-text">Email</span></span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </header><!-- #masthead -->
        </div>
        <div id="content" class="site-content">
            <div id="primary" class="content-area">
                <main id="main" class="site-main">
                    <div class="image">
                        <img src="~/Content/img/squtio1.jpg" style="height:75%" class="img-fluid" alt="Responsive resim">
                    </div>
                    <div class="vc_row wpb_row vc_row_34964996 vc_row-fluid penci-pb-row vc_custom_1549004792969">
                        <div class="div-height-0 wpb_column vc_column_container vc_col-sm-12 penci-col-12">
                            <div class="vc_column-inner  div-height-0 wpb_column vc_column_container vc_col-sm-12 penci-col-12 vc_custom_1549004679874">
                                <div class="wpb_wrapper">
                                    <div class="vc_row wpb_row vc_inner_74771836 vc_inner vc_row-fluid penci-pb-row div-height-0 vc_custom_1549962756298 vc_column-gap-30 penci-hidden-tablet penci-hidden-mobile">
                                        <div class="wpb_column vc_column_container vc_col-sm-3 penci-col-3">
                                            <div class="vc_column-inner wpb_column vc_column_container vc_col-sm-3 penci-col-3 vc_custom_1548991939525">
                                                <div class="wpb_wrapper">
                                                    <div id="penci_icon_box__75333536" class="penci-block-vc penci-icon-box penci-ibox-top-center penci-ibox-nobgstyle penci-ibox-size-md vc_custom_1548995625553">
                                                        <div class="penci-ibox-inner">
                                                            <div class="penci-ibox-icon penci-ibox-icon--image">
                                                                <a class="penci-ibox-icon-fa" href="#" title="" target="_self">
                                                                    <img alt="vector" src="~/Content/img/vector.png">
                                                                </a>
                                                            </div><h3 class="penci-ibox-title">Harika Piksel</h3>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div><div class="wpb_column vc_column_container vc_col-sm-3 penci-col-3">
                                            <div class="vc_column-inner wpb_column vc_column_container vc_col-sm-3 penci-col-3 vc_custom_1548992004932">
                                                <div class="wpb_wrapper">
                                                    <div class="vc_empty_space" style="height: 30px"><span class="vc_empty_space_inner"></span></div>
                                                    <div id="penci_icon_box__61678803" class="penci-block-vc penci-icon-box penci-ibox-top-center penci-ibox-nobgstyle penci-ibox-size-md vc_custom_1548995642580">
                                                        <div class="penci-ibox-inner">
                                                            <div class="penci-ibox-icon penci-ibox-icon--image">
                                                                <a class="penci-ibox-icon-fa" href="#" title="" target="_self">
                                                                    <img alt="resim paleti" src="/Content/img/paint-palette.png">
                                                                </a>
                                                            </div><h3 class="penci-ibox-title">Yaratıcı Düşünce</h3>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div><div class="wpb_column vc_column_container vc_col-sm-3 penci-col-3">
                                            <div class="vc_column-inner wpb_column vc_column_container vc_col-sm-3 penci-col-3 vc_custom_1548992013165">
                                                <div class="wpb_wrapper">
                                                    <div id="penci_icon_box__42528571" class="penci-block-vc penci-icon-box penci-ibox-top-center penci-ibox-nobgstyle penci-ibox-size-md vc_custom_1548995815877">
                                                        <div class="penci-ibox-inner">
                                                            <div class="penci-ibox-icon penci-ibox-icon--image">
                                                                <a class="penci-ibox-icon-fa" href="#" title="" target="_self">
                                                                    <img alt="ayarlar" src="/Content/img/setting.png">
                                                                </a>
                                                            </div><h3 class="penci-ibox-title">Etkileşimli Tasarım</h3>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div><div class="wpb_column vc_column_container vc_col-sm-3 penci-col-3">
                                            <div class="vc_column-inner wpb_column vc_column_container vc_col-sm-3 penci-col-3 vc_custom_1548992020504">
                                                <div class="wpb_wrapper">
                                                    <div class="vc_empty_space" style="height: 30px"><span class="vc_empty_space_inner"></span></div>
                                                    <div id="penci_icon_box__81909571" class="penci-block-vc penci-icon-box penci-ibox-top-center penci-ibox-nobgstyle penci-ibox-size-md vc_custom_1548995977952">
                                                        <div class="penci-ibox-inner">
                                                            <div class="penci-ibox-icon penci-ibox-icon--image"><a class="penci-ibox-icon-fa" href="" title="" target="_self"><img alt="fırça" src="/Content/img/paint-brushes.png"></a></div><h3 class="penci-ibox-title">Esnek Yaklaşım</h3>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="vc_row wpb_row vc_row_77512555 vc_row-fluid penci-pb-row vc_custom_1549962649749 penci-hidden-tablet penci-hidden-mobile">
                        <div class="wpb_column vc_column_container vc_col-sm-12 penci-col-12">
                            <div class="vc_column-inner wpb_column vc_column_container vc_col-sm-12 penci-col-12 vc_custom_1548993047437">
                                <div class="wpb_wrapper">
                                    <div class="vc_row wpb_row vc_inner_57058484 vc_inner vc_row-fluid penci-pb-row">
                                        <div class="wpb_column vc_column_container vc_col-sm-12 penci-col-12">
                                            <div class="vc_column-inner wpb_column vc_column_container vc_col-sm-12 penci-col-12 ">
                                                <div class="wpb_wrapper">
                                                    <div class="wpb_single_image wpb_content_element vc_align_center  vc_custom_1549004081568">

                                                        <figure class="wpb_wrapper vc_figure">
                                                            <div class="vc_single_image-wrapper   vc_box_border_grey"><img width="2420" height="1033" src="/Content/img/ipad4.png" class="vc_single_image-img attachment-full" alt="ipad" /></div>
                                                        </figure>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="vc_row wpb_row vc_row_30793704 vc_row-fluid penci-pb-row vc_custom_1549004869840 vc_row-has-fill">
                        <div class="wpb_column vc_column_container vc_col-sm-12 penci-col-12">
                            <div class="vc_column-inner wpb_column vc_column_container vc_col-sm-12 penci-col-12 vc_custom_1548992944092">
                                <div class="wpb_wrapper">
                                    <div id="penci_fancy_heading__10293515" class="penci-block-vc penci-fancy-heading penci-heading-text-center vc_custom_1549004896983">
                                        <div class="penci-fancy-heading-inner">
                                            <div class="penci-heading-subtitle">BİZ NE YAPIYORUZ?</div><h2 class="penci-heading-title">Yaratıcı Tasarımlar</h2><div class="penci-heading-content entry-content">
                                                <p>Şirketinize veya işletmenize değer kazandıracak çalışmalar yapıyoruz.</p>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="vc_empty_space" style="height: 40px"><span class="vc_empty_space_inner"></span></div>
                                    <div class="vc_row wpb_row vc_inner_42857979 vc_inner vc_row-fluid penci-pb-row vc_custom_1549962864546 vc_column-gap-30 vc_row-o-equal-height vc_row-o-content-middle vc_row-flex vc_custom_1549962864549 vc_custom_1549962864549">
                                        <div class="wpb_column vc_column_container vc_col-sm-4 penci-col-4">
                                            <div class="vc_column-inner wpb_column vc_column_container vc_col-sm-4 penci-col-4 vc_custom_1549006305387">
                                                <div class="wpb_wrapper">
                                                    <div id="penci_icon_box__20691118" class="penci-block-vc penci-icon-box penci-ibox-top-left penci-ibox-nobgstyle penci-ibox-size-md">
                                                        <div class="penci-ibox-inner">
                                                            <div class="penci-ibox-icon penci-ibox-icon--image"><a class="penci-ibox-icon-fa" href="" title="" target="_self"><img alt="wacom" src="/Content/img/wacom.png"></a></div><h3 class="penci-ibox-title">Strateji &amp; Araştırma</h3>
                                                            <p class="penci-ibox-content">Şirketiniz için en özel yazılım çözümlerini strateji ve pazar araştırması ile birlikte sizlere sunuyoruz.</p>
                                                        </div>
                                                    </div><div class="vc_empty_space" style="height: 20px"><span class="vc_empty_space_inner"></span></div>

                                                </div>
                                            </div>
                                        </div><div class="wpb_column vc_column_container vc_col-sm-4 penci-col-4">
                                            <div class="vc_column-inner wpb_column vc_column_container vc_col-sm-4 penci-col-4 vc_custom_1549006328066">
                                                <div class="wpb_wrapper">
                                                    <div id="penci_icon_box__69851126" class="penci-block-vc penci-icon-box penci-ibox-top-left penci-ibox-nobgstyle penci-ibox-size-md">
                                                        <div class="penci-ibox-inner">
                                                            <div class="penci-ibox-icon penci-ibox-icon--image"><a class="penci-ibox-icon-fa" href="" title="" target="_self"><img alt="sketch" src="/Content/img/sketch.png"></a></div><h3 class="penci-ibox-title">Tasarım &amp; Geliştirme</h3>
                                                            <p class="penci-ibox-content">Tasarımları isteklerinize göre interaktif şekillerde ve modern tarzlarda yapıyoruz.</p>
                                                        </div>
                                                    </div><div class="vc_empty_space" style="height: 20px"><span class="vc_empty_space_inner"></span></div>

                                                </div>
                                            </div>
                                        </div><div class="wpb_column vc_column_container vc_col-sm-4 penci-col-4">
                                            <div class="vc_column-inner wpb_column vc_column_container vc_col-sm-4 penci-col-4 vc_custom_1549006334783">
                                                <div class="wpb_wrapper">
                                                    <div id="penci_icon_box__50797501" class="penci-block-vc penci-icon-box penci-ibox-top-left penci-ibox-nobgstyle penci-ibox-size-md">
                                                        <div class="penci-ibox-inner">
                                                            <div class="penci-ibox-icon penci-ibox-icon--image"><a class="penci-ibox-icon-fa" href="" title="" target="_self"><img alt="untitled" src="/Content/img/Untitled-1.png"></a></div><h3 class="penci-ibox-title">Dijital Pazarlama</h3>
                                                            <p class="penci-ibox-content">Sosyal Medyalarınız için reklamlar oluşturuyoruz. Sizleri daha fazla müşteri potansiyeline ulaştırıyoruz.</p>
                                                        </div>
                                                    </div>
                                                    <div class="vc_empty_space" style="height: 20px"><span class="vc_empty_space_inner"></span></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="vc_row wpb_row vc_row_54916666 vc_row-fluid penci-pb-row vc_custom_1549007429312">
                        <div class="wpb_column vc_column_container vc_col-sm-12 penci-col-12">
                            <div class="vc_column-inner wpb_column vc_column_container vc_col-sm-12 penci-col-12 vc_custom_1549007414922">
                                <div class="wpb_wrapper">
                                    <div id="penci_fancy_heading__23765871" class="penci-block-vc penci-fancy-heading penci-heading-text-center vc_custom_1549007454237">
                                        <div class="penci-fancy-heading-inner">
                                            <div class="penci-heading-subtitle">PROJELER</div>
                                            <h2 class="penci-heading-title">Son Çalışmalarımız</h2>
                                            <div class="penci-heading-content entry-content">
                                                @*<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.</p>*@
                                            </div>
                                        </div>
                                    </div>


                                    <div class="vc_empty_space" style="height: 40px"><span class="vc_empty_space_inner"></span></div>
                                    <div class="vc_row wpb_row vc_inner_90627078 vc_inner vc_row-fluid penci-pb-row vc_custom_1549007520318">
                                        <div class="wpb_column vc_column_container vc_col-sm-12 penci-col-12">
                                            <div class="vc_column-inner wpb_column vc_column_container vc_col-sm-12 penci-col-12 vc_custom_1549007511902">
                                                <div class="wpb_wrapper">
                                                    <div id="penci-portfolio--78802" class="wrapper-penci-portfolio  penci-portfolio-grid ">
                                                        <div class="penci-portfolio penci-portfolio-wrap column-3">


                                                            <br />
                                                            @foreach (var item in Model.m_projes)
                                                            {

                                                                <article class="portfolio-item pfl-item-slidenfade-one design" id="portfolio-921" data-pflID="921" data-terms="design">
                                                                    <div class="inner-item-portfolio wow fadeInPortfolio">
                                                                        <div class="info-portfolio">
                                                                            <div class="penci-portfolio-thumbnail">
                                                                                <a href="@item.proje_link">
                                                                                    <span class="penci-image-placeholder" style="padding-bottom: 66.6666667%">
                                                                                        <img width="480" height="320" src="~/Content/img/@item.proje_resim" class="img-responsive attachment-penci-thumb-480-320 penci-pfl-lazy" alt="@item.proje_adi" />
                                                                                    </span>
                                                                                </a>
                                                                            </div>
                                                                            <div class="portfolio-desc">
                                                                                <a href="@item.proje_link" title="@item.proje_adi">
                                                                                    <h3 class="portfolio-title">@item.proje_adi</h3>
                                                                                    <span class="portfolio-cat">@item.proje_konu</span>
                                                                                </a>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </article>
                                                            }

                                                        </div>
                                                    </div>

                                                    <script type="text/javascript">
                                                        portfolioDataJs.push({ "atts": { "style": "grid", "image_type": "landscape", "column": "3", "filter": "false", "all_text": "All", "dis_bg_block": false, "css": "", "class": "", "pag_pos": "center", "style_pag": "", "numbermore": 6, "item_style": "", "hide_cat": false, "loadmore_text": "Load More", "no_more_text": "Sorry, No more", "build_query": "post_type:,portfolio|size:6", "dis_subcat_filter": "true", "only_cat_select": "", "_animation": "fadeInPortfolio", "_effect": "slidenfade-one", "space_item": "10", "more_link": "", "pfl_filter_color": "", "pfl_filter_hcolor": "", "pfl_filter_slash_color": "", "pfl_title_color": "", "pfl_title_hcolor": "", "pfl_cat_color": "", "pfl_cat_hcolor": "", "pfl_overlay_color": "", "pfl_overlay_opacity": "", "readmore_text_color": "", "readmore_bg_color": "", "readmore_border_color": "", "readmore_text_hcolor": "", "readmore_border_hcolor": "", "readmore_bg_hcolor": "", "readmore_margin_top": "", "readmore_bwidth": "", "pfl_filter_fonts": "", "pfl_title_fonts": "", "pfl_title_font_style": "", "pfl_title_font_size": "", "pfl_cat_fonts": "", "pfl_cat_font_style": "", "pfl_cat_font_size": "", "pflbig_title_fonts": "", "pflbig_title_font_style": "", "pflbig_title_font_size": "", "pflbig_cat_fonts": "", "pflbig_cat_font_style": "", "pflbig_cat_font_size": "" }, "instanceId": "penci-portfolio--78802", "data_query": { "post_type": ",portfolio", "size": "6" }, "query": { "post_status": "publish", "post_type": ["portfolio"], "posts_per_page": 6, "paged": 1 }, "count": 20, "countByTerms": { "design": 5, "instagram": 5, "photography": 5, "prints": 5 }, "currentTerm": "*", "currentTax": "" });
                                                    </script>
                                                    <div class="vc_empty_space" style="height: 40px"><span class="vc_empty_space_inner"></span></div>
                                                    <div id="penci_button__71201506" class="penci-vc-btn-wapper penci-vcbtn-align-center">
                                                        <a class="penci-vc-btn button penci-vcbtn-trans penci-vcbtn-uppearcase penci-vcbtn-ialignright" href="@Url.Action("Proje")" rel="" target="_self"><span>Çalışmaların tümünü gör</span><i class="fa fa-long-arrow-right"></i></a>
                                                    </div>


                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="vc_row wpb_row vc_row_76416741 vc_row-fluid penci-pb-row vc_custom_1549008682780 vc_row-o-equal-height vc_row-o-content-middle vc_row-flex">
                        <div class="wpb_column vc_column_container vc_col-sm-8 penci-col-8">
                            <div class="vc_column-inner wpb_column vc_column_container vc_col-sm-8 penci-col-8 vc_custom_1549007847297">
                                <div class="wpb_wrapper">
                                    <div class="wpb_single_image wpb_content_element vc_align_center  vc_custom_1549008636040">

                                        <figure class="wpb_wrapper vc_figure">
                                            <div class="vc_single_image-wrapper   vc_box_border_grey"><img width="1500" height="900" src="/Content/img/iphone.png" class="vc_single_image-img attachment-full" alt="iphone" /></div>
                                        </figure>
                                    </div>
                                </div>
                            </div>
                        </div><div class="wpb_column vc_column_container vc_col-sm-4 penci-col-4">
                            <div class="vc_column-inner wpb_column vc_column_container vc_col-sm-4 penci-col-4 vc_custom_1549962946271">
                                <div class="wpb_wrapper">
                                    <div id="penci_fancy_heading__73605771" class="penci-block-vc penci-fancy-heading penci-heading-text-left vc_custom_1549008938833">
                                        <div class="penci-fancy-heading-inner">
                                            <h2 class="penci-heading-title listeOrtalama">Sosyal Medya &amp; Tasarımlar</h2>
                                            <div class="penci-heading-content entry-content listeOrtalama">
                                                <ul class="list-group">
                                                    <li class="list-group-item list-group-item-danger"><i class="fa-regular fa-wand-magic-sparkles"></i>Etiket Araştırması</li>
                                                    <li class="list-group-item list-group-item-light">Hikaye Paylaşımı</li>
                                                    <li class="list-group-item list-group-item-danger">Gönderi Paylaşımı</li>
                                                    <li class="list-group-item list-group-item-light">Yarışma ve Çekilişler</li>
                                                    <li class="list-group-item list-group-item-danger">Instagram Hesap Yönetimi</li>
                                                    <li class="list-group-item list-group-item-light">Facebook Hesap Yönetimi</li>
                                                    <li class="list-group-item list-group-item-danger">Twitter Hesap Yönetimi</li>
                                                    <li class="list-group-item list-group-item-light">LinkedIn Hesap Yönetimi</li>
                                                    <li class="list-group-item list-group-item-danger">Etkileşimli Paylaşımlar</li>
                                                    <li class="list-group-item list-group-item-light">Kapak Tasarımı</li>
                                                    <li class="list-group-item list-group-item-danger">Hedef Kitle Analizi</li>
                                                    <li class="list-group-item list-group-item-light">Aylık Raporlama</li>
                                                    <li class="list-group-item list-group-item-danger">Özel Gün Paylaşımları</li>
                                                    <li class="list-group-item list-group-item-light">Business Manager Kurulum</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="vc_empty_space" style="height: 40px"><span class="vc_empty_space_inner"></span></div>
                                    <div id="penci_button__84320992" class="penci-vc-btn-wapper penci-vcbtn-align-left">
                                        <a class="penci-vc-btn button penci-vcbtn-fill penci-vcbtn-uppearcase penci-vcbtn-ialignright" href="@Url.Action("Iletisim")" rel="" target="_self"><span>BİZİMLE İLETİŞİME GEÇİN</span><i class="fa fa-long-arrow-right"></i></a>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="vc_row wpb_row vc_row_75405971 vc_row-fluid penci-pb-row vc_custom_1549004869840 vc_row-has-fill">
                        <div class="wpb_column vc_column_container vc_col-sm-12 penci-col-12">
                            <div class="vc_column-inner wpb_column vc_column_container vc_col-sm-12 penci-col-12 vc_custom_1548992944092">
                                <div class="wpb_wrapper">
                                    <div id="penci_fancy_heading__74272958" class="penci-block-vc penci-fancy-heading penci-heading-text-center vc_custom_1549008746717">
                                        <div class="penci-fancy-heading-inner">
                                            <div class="penci-heading-subtitle">TEKNOLOJİLER</div><h2 class="penci-heading-title">Hangi Teknolojileri Kullanıyoruz?</h2><div class="penci-heading-content entry-content">
                                                <p>Teknolojiyi yakından takip eden ve projelerimizde yenilikleri ön planda tutarak web projeleri geliştiriyoruz.</p>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="vc_empty_space" style="height: 40px"><span class="vc_empty_space_inner"></span></div>
                                    <div class="vc_row wpb_row vc_inner_35494277 vc_inner vc_row-fluid penci-pb-row vc_custom_1549009557643">
                                        <div class="wpb_column vc_column_container vc_col-sm-12 penci-col-12">
                                            <div class="vc_column-inner wpb_column vc_column_container vc_col-sm-12 penci-col-12 vc_custom_1549009334473">
                                                <div class="wpb_wrapper">
                                                    <div id="penci_testimonail__11591605" class="penci-testimonails penci-testimonails-slider penci-testi-s1 ">
                                                        <div class="penci-testimonail-inner penci-owl-carousel-slider penci-owl-featured-area" data-style="testimonial" data-items="3" data-autowidth="0" data-auto="1" data-autotime="4000" data-speed="800" data-loop="0" data-dots="1" data-nav="0" data-magrin="30" data-center="1">
                                                            <div class="penci-testimonail">
                                                                <div class="penci-testi-blockquote">
                                                                    <div class="penci-testi-bq-inner">
                                                                        <span class="penci-testi-bq-icon"></span>
                                                                        <span>MVC (Model-View-Controller), üç bileşenden oluşmaktadır ve bu üç bileşen birbirinden tamamen <strong>bağımsız</strong> çalışmaktadır. <strong>Microsoft</strong>’un geliştirdiği ASP.NET MVC Framework gelmektedir, oysa 1979 yılından beri (Microsoft 1975 yılında kurulmuştur) yazılım dünyasında yer almaktadır.</span>
                                                                    </div>
                                                                </div>
                                                                <div class="penci-testi-avatar penci-lazy" data-src="~/Content/img/avates1.jpg"></div>
                                                                <div class="penci-testi-name">MVC</div><div class="penci-testi-company"></div>
                                                            </div><div class="penci-testimonail">
                                                                <div class="penci-testi-blockquote">
                                                                    <div class="penci-testi-bq-inner">
                                                                        <span class="penci-testi-bq-icon"></span>
                                                                        <span data-nosnippet>ASP.NET Microsoft firmasının <span style="font-weight:bold">.NET</span> platformunu geliştirmesiyle birlikte Active Server Pages betik dilinin .NET diline entegre edilmiş halidir. ASP Microsoft tarafından 1996 yılında geliştirilen sunucu taraflı çalışan ve dinamik web sayfaları oluşturmak için geliştirdiği bir betik dilidir.</span>
                                                                    </div>
                                                                </div><div class="penci-testi-avatar penci-lazy" data-src="/Content/img/avates3.jpg"></div><div class="penci-testi-name">ASP.NET</div><div class="penci-testi-company"></div>
                                                            </div><div class="penci-testimonail">
                                                                <div class="penci-testi-blockquote">
                                                                    <div class="penci-testi-bq-inner">
                                                                        <span class="penci-testi-bq-icon"></span>
                                                                        <span>2000 yılında <strong>Anders Heljsberg ve ekibi tarafından geliştirilmeye başlanan C#</strong> dili, 2002 yılında <span style="font-weight:bold">C sharp</span> 1.0 olarak yayınlandı. Windows ilk günden beri bu dilin geliştirilmesini sağlıyor. Modern sistemlerdeki uyumluluğu sayesinde yazılımcılar tarafından memnuniyetle kullanılıyor.</span>
                                                                    </div>
                                                                </div>
                                                                <div class="penci-testi-avatar penci-lazy" data-src="/Content/img/techteam1.jpg"></div>
                                                                <div class="penci-testi-name">C#</div><div class="penci-testi-company"></div>
                                                            </div>
                                                            <div class="penci-testimonail">
                                                                <div class="penci-testi-blockquote">
                                                                    <div class="penci-testi-bq-inner">
                                                                        <span class="penci-testi-bq-icon"></span>
                                                                        <span>
                                                                            İlk olarak 1995 yılında <strong>NetScape Şirketi</strong>nde çalışan Brendan Eich tarafından yazılmıştır. JavaScript ilk başta "LiveScript" adıyla yazılmıştır. Fakat <strong>Java</strong> dili o zamanlarda çok fazla gündemde olmasından dolayı yeni bir dil ve "küçük kardeş" olarak görüldüğünden dolayı adını JavaScript olarak almıştır.
                                                                        </span>
                                                                    </div>
                                                                </div>
                                                                <div class="penci-testi-avatar penci-lazy" data-src="/Content/img/avates2.jpg"></div><div class="penci-testi-name">JavaScript</div><div class="penci-testi-company"></div>
                                                            </div>
                                                        </div>
                                                    </div>


                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </main><!-- #main -->

            </div><!-- #primary -->
            <hr />
            <div id="penci_fancy_heading__96323882" class="penci-block-vc penci-fancy-heading penci-heading-text-center vc_custom_1549009876304">
                <div class="penci-fancy-heading-inner">
                    <h2 class="penci-heading-title">Herhangi Bir Projeniz mi Var?<br />Bizimle İletişime Geçin</h2>
                    <div class="penci-heading-content entry-content"></div>
                </div>
                <div class="vc_empty_space" style="height: 20px"><span class="vc_empty_space_inner"></span></div>
                <div id="penci_button__46555602" class="penci-vc-btn-wapper penci-vcbtn-align-center">
                    <a class="penci-vc-btn button penci-vcbtn-fill penci-vcbtn-uppearcase penci-vcbtn-ialignright" href="@Url.Action("Iletisim")" target="_self"><span>ŞİMDİ BİZE ULAŞIN</span><i class="fa fa-long-arrow-right"></i></a>
                </div>
            </div>
        </div><!-- #content -->
    </div><!-- #page -->

</body>
</html>
