@model SqutioYzlm.Models._site
@{
    ViewBag.Title = "blog_detay";

}
<!DOCTYPE html>
<html lang="en-US" prefix="og: http://ogp.me/ns#">

<body class="home page-template page-template-page-templates page-template-full-width page-template-page-templatesfull-width-php page page-id-4 custom-background header-sticky penci-header-transparent penci_enable_ajaxsearch penci_sticky_content_sidebar penci_dis_padding_bw wpb-js-composer js-comp-ver-5.4.5 vc_responsive">

    <div id="page" class="site">
        <div class="site-header-wrapper penci-trans-nav">
            <header id="masthead" class="site-header header--s1" data-height="80" itemscope="itemscope" itemtype="http://schema.org/WPHeader">
                <div class="penci-container-1170 header-content__container">

                    <div class="site-branding">
                        <a href="@Url.Action("Anasayfa")" class="custom-logo-link" rel="home">
                            <h1 class="site-title"><img href="@Url.Action("Anasayfa")" rel="home" alt="logo" src="~/Content/img/logo.jpg" style="width:60px; height:60px;" class="logo">Squtio Yazılım</h1>
                        </a>
                    </div><!-- .site-branding -->
                    <nav id="site-navigation" class="main-navigation penci_disable_padding_menu penci_enable_line_menu pencimn-slide_down" itemscope itemtype="http://schema.org/SiteNavigationElement">
                        <ul id="menu-main-menu" class="menu">
                            <li id="menu-item-11" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home"><a href="@Url.Action("Anasayfa")" itemprop="url">Anasafya</a></li>
                            <li id="menu-item-983" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-983 current-menu-item page_item page-item-7 current_page_item menu-item-8"><a href="@Url.Action("Blog")" itemprop="url">BLOG</a></li>
                            <li id="menu-item-983" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-983"><a href="@Url.Action("Hakkimizda")" itemprop="url">HAKKIMIZDA</a></li>
                            <li id="menu-item-8" class="menu-item menu-item-type-post_type menu-item-object-page"><a href="@Url.Action("Iletisim")" itemprop="url">İLETİŞİM</a></li>
                        </ul>
                    </nav><!-- #site-navigation -->
                    <div class="header__social-search">
                        <div class="header__social-media">
                            <div class="header__content-social-media">

                                @*<a class="social-media-item socail_media__facebook" target="_blank" href="#" title="Facebook" rel="noopener"><span class="socail-media-item__content"><i class="fa fa-facebook"></i><span class="social_title screen-reader-text">Facebook</span></span></a>
                                    <a class="social-media-item socail_media__twitter" target="_blank" href="#" title="Twitter" rel="noopener"><span class="socail-media-item__content"><i class="fa fa-twitter"></i><span class="social_title screen-reader-text">Twitter</span></span></a>*@
                                <a class="social-media-item socail_media__instagram" target="_blank" href="https://www.instagram.com/squtio.yazilim/" title="Instagram" rel="nofollow"><span class="socail-media-item__content"><i class="fa fa-instagram"></i><span class="social_title screen-reader-text">Instagram</span></span></a>
                                @*<a class="social-media-item socail_media__behance" target="_blank" href="#" title="Behance" rel="noopener"><span class="socail-media-item__content"><i class="fa fa-behance"></i><span class="social_title screen-reader-text">Behance</span></span></a>
                                    <a class="social-media-item socail_media__youtube" target="_blank" href="#" title="Youtube" rel="noopener"><span class="socail-media-item__content"><i class="fa fa-youtube-play"></i><span class="social_title screen-reader-text">Youtube</span></span></a>*@
                                <a class="social-media-item socail_media__email_me" target="_blank" href="@Url.Action("Contact")" title="Email"><span class="socail-media-item__content"><i class="fa fa-envelope"></i><span class="social_title screen-reader-text">Email</span></span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
        </div>

        <hr />
        <!-- blog alanı başlangıç-->
        <div class="containerss">
            <div class="row">
                <div class="col-md-12 penci-text-align-center">

                    <img class="rounded center-block" width="500" src="~/Content/img/@Model.m_blog.blog_img" alt="@Model.m_blog.blog_baslik">
                    <h2 style="text-align:center" class="card-title">@Model.m_blog.blog_baslik</h2>
                    <p>@Html.Raw(@Model.m_blog.blog_yazi)</p>
                    <p><i class=" icon-clock"></i>@Convert.ToDateTime(Model.m_blog.blog_kayit).ToString("dd.MM.yyyy") </p>Yazar:@Model.m_blog.blog_yazar

                </div>
            </div>
        </div>
        <!-- blog alanı bitiş-->
    </div>
</body>
</html>