@{
    ViewBag.Title = "Hakkımızda";
}


<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<!DOCTYPE html>
<html lang="en-US" prefix="og: http://ogp.me/ns#">

<body class="home page-template page-template-page-templates page-template-full-width page-template-page-templatesfull-width-php page page-id-4 custom-background header-sticky penci-header-transparent penci_enable_ajaxsearch penci_sticky_content_sidebar penci_dis_padding_bw wpb-js-composer js-comp-ver-5.4.5 vc_responsive">

    <div id="page" class="site">
        <div class="site-header-wrapper penci-trans-nav">
            <header id="masthead" class="site-header header--s1" data-height="80" itemscope="itemscope" itemtype="http://schema.org/WPHeader">
                <div class="penci-container-1170 header-content__container">

                    <div class="site-branding">
                        <a href="@Url.Action("Anasayfa")" class="custom-logo-link" rel="home">
                            <h1 class="site-title"><img rel="home" src="~/Content/img/logo.jpg" alt="logo" style="width:60px; height:60px;" class="logo" />Squtio Yazılım</h1>
                        </a>
                    </div><!-- .site-branding -->
                    <nav id="site-navigation" class="main-navigation penci_disable_padding_menu penci_enable_line_menu pencimn-slide_down" itemscope itemtype="http://schema.org/SiteNavigationElement">
                        <ul id="menu-main-menu" class="menu">
                            <li id="menu-item-11" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home"><a href="@Url.Action("Anasayfa")" itemprop="url">Anasafya</a></li>
                            <li id="menu-item-983" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-983"><a href="@Url.Action("Blog")" itemprop="url">BLOG</a></li>
                            <li id="menu-item-983" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-983 current-menu-item page_item page-item-7 current_page_item menu-item-8"><a href="@Url.Action("Hakkimizda")" itemprop="url">HAKKIMIZDA</a></li>
                            <li id="menu-item-8" class="menu-item menu-item-type-post_type menu-item-object-page"><a href="@Url.Action("Iletisim")" itemprop="url">İLETİŞİM</a></li>
                        </ul>
                    </nav><!-- #site-navigation -->
                    <div class="header__social-search">
                        <div class="header__social-media">
                            <div class="header__content-social-media">

                                @*<a class="social-media-item socail_media__facebook" target="_blank" href="#" title="Facebook" rel="noopener"><span class="socail-media-item__content"><i class="fa fa-facebook"></i><span class="social_title screen-reader-text">Facebook</span></span></a>
                                    <a class="social-media-item socail_media__twitter" target="_blank" href="#" title="Twitter" rel="noopener"><span class="socail-media-item__content"><i class="fa fa-twitter"></i><span class="social_title screen-reader-text">Twitter</span></span></a>*@
                                <a class="social-media-item socail_media__instagram" target="_blank" href="https://www.instagram.com/squtio.yazilim/" title="Instagram" rel="nofollow"><span class="socail-media-item__content"><i class="fa fa-instagram"></i><span class="social_title screen-reader-text">Instagram</span></span></a>
                                @*<a class="social-media-item socail_media__behance" target="_blank" href="#" title="Behance" rel="noopener"><span class="socail-media-item__content"><i class="fa fa-behance"></i><span class="social_title screen-reader-text">Behance</span></span></a>
                                    <a class="social-media-item socail_media__youtube" target="_blank" href="#" title="Youtube" rel="noopener"><span class="socail-media-item__content"><i class="fa fa-youtube-play"></i><span class="social_title screen-reader-text">Youtube</span></span></a>*@
                                <a class="social-media-item socail_media__email_me" target="_blank" href="@Url.Action("Iletisim")" title="Email"><span class="socail-media-item__content"><i class="fa fa-envelope"></i><span class="social_title screen-reader-text">Email</span></span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
        </div>

        <br /><br /><br /><br />
        <div class="vc_row wpb_row vc_inner_42857979 vc_inner vc_row-fluid penci-pb-row vc_custom_1549962864546 vc_column-gap-30 vc_row-o-equal-height vc_row-o-content-middle vc_row-flex vc_custom_1549962864549 vc_custom_1549962864549">
            <div class="wpb_column vc_column_container vc_col-sm-6 penci-col-6">
                <div class="vc_column-inner wpb_column vc_column_container vc_col-sm-6 penci-col-6 vc_custom_1549006305387">
                    <div class="wpb_wrapper">
                        <img class="rounded center-block" width="500" src="/Content/img/2.jpg" alt="Hakkımızda İlk Resim" />
                    </div>
                </div>
            </div>
            <div class="wpb_column vc_column_container vc_col-sm-6 penci-col-6">
                <div class="vc_column-inner wpb_column vc_column_container vc_col-sm-6 penci-col-6 vc_custom_1549006328066">
                    <div class="wpb_wrapper">
                        <div id="penci_fancy_heading__74272958" class="penci-block-vc penci-fancy-heading penci-heading-text-center vc_custom_1549008746717">
                            <div class="penci-fancy-heading-inner">
                                <div class="penci-heading-subtitle">Squtio Yazılım Nedir?</div><h2 class="penci-heading-title shadow-sm p-3 mb-5 bg-body rounded">Biz Kimiz?</h2><div class="penci-heading-content entry-content">
                                    <p>
                                        Squtio Yazılım 2022 yılında kurulmuş, interaktif tasarımlar üreten
                                        bir teknoloji firmasıdır. İstanbul & Bursa'daki genç ve dinamik ekibimiz
                                        ile interaktif yazılım geliştirme, web alanlarında sizlere çözümler sunuyoruz.
                                        Aynı zamanda sosyal medya danışmanlığı konusunda da sizlere destek oluyoruz.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="vc_row wpb_row vc_inner_42857979 vc_inner vc_row-fluid penci-pb-row vc_custom_1549962864546 vc_column-gap-30 vc_row-o-equal-height vc_row-o-content-middle vc_row-flex vc_custom_1549962864549 vc_custom_1549962864549">
            <div class="wpb_column vc_column_container vc_col-sm-6 penci-col-6">
                <div class="vc_column-inner wpb_column vc_column_container vc_col-sm-6 penci-col-6 vc_custom_1549006305387">
                    <div class="wpb_wrapper">
                        <div id="penci_fancy_heading__74272958" class="penci-block-vc penci-fancy-heading penci-heading-text-center vc_custom_1549008746717">
                            <div class="penci-fancy-heading-inner">
                                <div class="penci-heading-subtitle">Squtio Yazılım Nedir?</div><h2 class="penci-heading-title shadow-sm p-3 mb-5 bg-body rounded">Biz Kimiz?</h2><div class="penci-heading-content entry-content">
                                    <p>
                                        Son derece interaktif ve modern tasarımlarımız ile sizlerin harika bir web sitesi deneyimi yaşamanızı sağlıyoruz.
                                        Kullandığımız geliştirme yöntemlerimizi son teknolojiler ile destekliyoruz.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="wpb_column vc_column_container vc_col-sm-6 penci-col-6">
                <div class="vc_column-inner wpb_column vc_column_container vc_col-sm-6 penci-col-6 vc_custom_1549006328066">
                    <div class="wpb_wrapper">
                        <img class="rounded center-block" width="500" src="/Content/img/8.jpg" alt="Hakkımızda İlk Resim" />
                    </div>
                </div>
            </div>


            <div class="vc_row wpb_row vc_inner_42857979 vc_inner vc_row-fluid penci-pb-row vc_custom_1549962864546 vc_column-gap-30 vc_row-o-equal-height vc_row-o-content-middle vc_row-flex vc_custom_1549962864549 vc_custom_1549962864549">
                <div class="wpb_column vc_column_container vc_col-sm-6 penci-col-6">
                    <div class="vc_column-inner wpb_column vc_column_container vc_col-sm-6 penci-col-6 vc_custom_1549006305387">
                        <div class="wpb_wrapper">
                            <img class="rounded center-block" width="500" src="/Content/img/2.jpg" alt="Hakkımızda İlk Resim" />
                        </div>
                    </div>
                </div>
                <div class="wpb_column vc_column_container vc_col-sm-6 penci-col-6">
                    <div class="vc_column-inner wpb_column vc_column_container vc_col-sm-6 penci-col-6 vc_custom_1549006328066">
                        <div class="wpb_wrapper">
                            <div id="penci_fancy_heading__74272958" class="penci-block-vc penci-fancy-heading penci-heading-text-center vc_custom_1549008746717">
                                <div class="penci-fancy-heading-inner">
                                    <h2 class="penci-heading-title shadow-sm p-3 mb-5 bg-body rounded">Fatma Aktaş</h2><div class="penci-heading-content entry-content">
                                        <ul class="">
                                            <li class="mb-2"><span class="fs-5 me-2 font-weight-600">Pozisyon:</span> CEO</li>
                                            <li class="mb-2"><span class="fs-5 me-2 font-weight-600">Deneyim:</span> 10 Years</li>
                                            <li class="mb-2"><span class="fs-5 me-2 font-weight-600">Email:</span> fatmaaktas@mail.com</li>
                                            <li class="mb-2"><span class="fs-5 me-2 font-weight-600">Meslek:</span> Bilgisayar Mühendisi</li>
                                            <li><span class="fs-5 me-2 font-weight-600" style="color:black">Telefon:</span> +1 23 456 789 </li>
                                            <li><a href="#!"><span>LinkedIn: </span><i class="fa fa-linkedin-in"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
</body>
</html>